.cardContent {
  background: linear-gradient(0, black, transparent);
  height: 100%;
  position: relative;

  .cardInfo {
    position: absolute;
    bottom: 15%;
    margin-left: 10%;

    .candidateName {
      font-size: 45px;
    }

    .candidateDate {

    }

    .candidateDescription {
      margin: 10px;
    }
  }
}

.thumbsBarArea {
  display: flex;
  bottom: 0;
  position: absolute;
  font-size: 40px;
  width: 100%;
  font-weight: lighter;

  .thumbUpBar {
    text-align: left;
    background: rgba(49, 192, 186, 0.8);

    .thumbUpIcon {

    }
  }

  .thumbDownBar {
    text-align: right;
    background: rgba(207, 149, 47, 0.8);

    .thumbDownIcon {

    }
  }
}
