$backgroundThumbUp: rgba(49, 192, 186, 0.8);
$backgroundThumbDown: rgba(207, 149, 47, 0.8);

.cardContent {
  background: linear-gradient(0, black, transparent);
  height: 100%;
  position: relative;

  .cardInfo {
    position: absolute;
    bottom: 20%;
    margin-left: 10%;

    .candidateName {
      font-size: 45px;
    }

    .candidateDate {

    }

    .candidateDescription {
      margin: 10px;
    }
  }
}

.cardVoteForm {
  position: absolute;
  bottom: 13%;
  margin-left: 10%;

  .thumbBtnUp {
    background: $backgroundThumbUp;

    &:hover {
      box-shadow: 0 0 0 3px white inset;
      cursor: pointer;
    }
  }

  .thumbBtnDown {
    background: $backgroundThumbDown;

    &:hover {
      box-shadow: 0 0 0 3px white inset;
      cursor: pointer;
    }
  }

  .btnActive {
    box-shadow: 0 0 0 3px white inset;
  }
}

.candidateState {
  .thumb-up {
    background: $backgroundThumbUp;
    position: absolute;
    bottom: 33%;
    height: 35px;
  }

  .thumb-down {
    background: $backgroundThumbDown;
    position: absolute;
    bottom: 33%;
    height: 35px;

  }
}

.thumbsBarArea {
  bottom: 0;
  width: 100%;
  display: flex;
  position: absolute;
  max-height: 60px;
  font-size: 40px;
  font-weight: lighter;

  .thumbUpBar {
    text-align: left;
    background: $backgroundThumbUp;
  }

  .thumbDownBar {
    text-align: right;
    background: $backgroundThumbDown;
  }
}
